section{
    /* max-width: 75vw;
    max-height: fit-content; */
    margin: 10vh 15vw;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

textarea {
    resize: none;
    border: 1px solid black;
}

.title{
    font-size: 1.5em;
    background-color:#C4C4C4;
    padding: 0.3em;
    border-bottom: 1px solid black;
}

.messageHistory {
    min-height: 50vh;
}
.messageBox {
    display: flex;
    justify-content: center;
}

.messagebg {
    background-color:#C4C4C4;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    padding: 10px;
    border: 1px solid black;
    border-bottom: 0px;
}

.sendBtn {
    border-radius: 5px;
    font-size: 0.75em;
    background-color:#0066CC;
    color: cornsilk;
    border: 0;
    padding: 3px 5px;
    cursor: pointer;
}

.sendBtn:active {
    background-color:#004386;
}

.container {
    display: flex;
    flex-direction: column;
}

.oldMessage {
    margin: 0.5em 0.5em 0em 0.5em;
    border: 1px solid black;
    padding: 5px;
}

.excludeButton {
    align-self: flex-end;
    margin: 0 0.6em;
    border: 0px;
    background-color: #F65D5D;
    padding: 0.2em 0.3em;
    cursor: pointer;
}

.excludeButton:active {
    background-color:#ac1e1e;
}